@model List<UserInterface.ViewModels.BookTransactionViewModel>
@{
    ViewData["Title"] = "Book Transaction";
}

<section style="padding-top:60px;">
    <div class="container pt-5">
        <a class="btn btn-primary mb-3" asp-controller="User" asp-action="Index">Back</a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item">Transactions</li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Email</li>
            </ol>
        </nav>
        <div class="row">
            @await Html.PartialAsync("../Shared/PartialViews/_RequestComponent.cshtml", Model)
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".ebs-btn-accept").click(function () {
                var id = $(this).attr("data-id");
                var target = `#ebs-${id}`;
                $.ajax({
                    method: "GET",
                    url: "/api/ebs/transactions/accept",
                    data: {
                        id: id
                    },
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    }
                })
                .done(function (result) {
                    if (result) {
                        toastr.success("Hello world!", "Success");
                        $(target).toggle();
                    }
                    else {
                        toastr.error("Hello world!", "Error");
                    }
                });
            });

            $(".ebs-btn-cancel").click(function () {
                var id = $(this).attr("data-id");
                var target = `#ebs-${id}`;
                $.ajax({
                    method: "GET",
                    url: "/api/ebs/transactions/cancel",
                    data: {
                        id: id
                    },
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    }
                }).done(function (result) {
                    if (result) {
                        toastr.success("Hello world!", "Success");
                        $(target).toggle();
                    }
                    else {
                        toastr.error("Hello world!", "Error");
                    }
                });
            });
        });
    </script>
}