@model List<UserInterface.ViewModels.BookTransactionViewModel>
@{
    ViewData["Title"] = "Book Transaction";
}

<section style="padding-top:60px;">
    <div class="container pt-5">
        <a class="btn btn-primary mb-3" asp-controller="User" asp-action="Index">Back</a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item">Transactions</li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Email</li>
            </ol>
        </nav>
        <div class="row">
            @await Html.PartialAsync("../Shared/PartialViews/_RequestComponent.cshtml", Model)
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/app/transactionController.js"></script>
}