@model List<UserInterface.ViewModels.DialogViewModel>
@{
    ViewData["Title"] = "Messages";
}

<section style="padding-top:60px;">
    <div class="container pt-5">
        <a class="btn btn-primary mb-3" asp-controller="User" asp-action="Index">Back</a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item">Messages</li>
                <li class="breadcrumb-item active" aria-current="page">@User.Identity.Name</li>
            </ol>
        </nav>
        <div class="row">
            @foreach (var message in Model)
            {
                var email = message.UserReceiverEmail == User.Identity.Name ? message.UserSenderEmail : message.UserReceiverEmail;
                <div class="col-md-12">
                    <h3>@email</h3>
                    <p>@message.LastMessage</p>
                    <p class="text-secondary">@message.LastMessageDate</p>
                </div>
            }
            @if (Model.Count < 1)
            {
                <div class="col-md-12 text-center pt-5">
                    <h1>Empty dialogs</h1>
                </div>
            }
        </div>
    </div>
</section>