@model List<UserInterface.ViewModels.DialogViewModel>
@{
    ViewData["Title"] = "Messages";
}

<section style="padding-top:60px;">
    <div class="container pt-5">
        <a class="btn btn-primary mb-3" asp-controller="User" asp-action="Index">Back</a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item">Messages</li>
                <li class="breadcrumb-item active" aria-current="page">@User.Identity.Name</li>
            </ol>
        </nav>
        <div class="row">
            @foreach (var dialog in Model)
            {
                var email = dialog.FirstInterlocutorEmail == User.Identity.Name ? dialog.SecondInterlocutorEmail : dialog.FirstInterlocutorEmail;
                <div class="col-md-12 bg-light mb-3">
                    <div style="width:100%; padding:10px">
                        <a asp-controller="Message" asp-action="Dialog" asp-route-id="@dialog.Id">
                            <h3>@email</h3>
                            <p>@dialog.LastMessage</p>
                        </a>
                    </div>
                </div>
            }
            @if (Model.Count < 1)
            {
                <div class="col-md-12 text-center pt-5">
                    <h1>Empty dialogs</h1>
                </div>
            }
        </div>
    </div>
</section>