<div id="accordion">
    <div class="card">

        @*  *@

        <div class="card-header">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#us">
                    User Services
                </button>
            </h5>
        </div>

        <div id="us" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href="#" id="us1" class="btn btn-block btn-outline-primary mb-2">Get the list of users sorted by ID</a>
            </div>
        </div>

        @*  *@

        <div class="card-header">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#bs">
                    Book Services
                </button>
            </h5>
        </div>

        <div id="bs" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href="#" id="bs1" class="btn btn-block btn-outline-primary mb-2">Get Books Count By Users</a>
            </div>
        </div>

        @*  *@

        <div class="card-header">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#ts">
                    Transaction Services
                </button>
            </h5>
        </div>

        <div id="ts" class="collapse" data-parent="#accordion">
            <div class="card-body">
                <a href="#" class="btn btn-block btn-outline-primary mb-2">Get Books</a>
                <a href="#" class="btn btn-block btn-outline-primary mb-2">Get Books</a>
                <a href="#" class="btn btn-block btn-outline-primary mb-2">Get Books</a>
            </div>
        </div>

        @*  *@

    </div>
</div>