@model List<UserInterface.ViewModels.Entities.BookViewModel>
@{
    ViewData["Title"] = "Books";
}
<style>.badge{top:10px;left:10px;padding:10px;position:absolute;}</style>
<section style="padding-top:50px;">
    <div class="container pt-5">
        <a class="btn btn-primary mb-3" asp-controller="User" asp-action="Index">Back</a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item">ELibrary</li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Email</li>
            </ol>
        </nav>
        <div class="row">
            @await Html.PartialAsync("../Shared/PartialViews/_BookComponent.cshtml", Model)
        </div>
    </div>
</section>