@model UserInterface.ViewModels.Entities.BookViewModel

@{
    ViewData["Title"] = "Create";
}
<style>
    #book-container {
        width: 100%;
        height: 550px;
        background: #F1F2F3;
        border-radius: 5px;
        overflow: hidden;
        overflow-y: scroll;
        padding: 10px;
        margin-bottom:50px;
    }
    .wait-pre-con{
        width: 100%;
        height:200px;
        background: url('/img/loader.gif') center no-repeat #F1F2F3;
        display:none;
    }
</style>
<section style="padding-top:50px;">
    <div class="container pt-5">
        <a class="btn btn-primary mb-3"  asp-controller="Book" asp-action="ByUser" asp-route-id="@ViewBag.UserId">Back</a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item"><a asp-controller="Book" asp-action="ByUser" asp-route-id="@ViewBag.UserId">ELibrary</a></li>
                <li class="breadcrumb-item">@User.Identity.Name</li>
                <li class="breadcrumb-item active" aria-current="page">Add</li>
            </ol>
        </nav>
        <div class="row pt-3">
            <div class="col-md-7">
                <input type="hidden" asp-for="UserId" class="form-control" value="@ViewBag.UserId" />
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="autofill-tab" data-toggle="tab" href="#autofill" role="tab" aria-controls="autofill" aria-selected="true">Autofill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="bookcity-tab" data-toggle="tab" href="#bookcity" role="tab" aria-controls="bookcity" aria-selected="false">Bookcity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="manually-tab" data-toggle="tab" href="#manually" role="tab" aria-controls="manually" aria-selected="false">Manually</a>
                    </li>
                </ul>
                <div class="tab-content pt-3" id="myTabContent">

                    <div class="tab-pane fade show active" id="autofill" role="tabpanel" aria-labelledby="autofill-tab">
                        <div class="form-group">
                            <label class="control-label">Choose a book from our database, just enter a title or author</label>
                            <input id="book-auto" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input id="book-search-auto" type="button" value="Search" class="btn btn-primary" />
                        </div>
                    </div>

                    <div class="tab-pane fade" id="bookcity" role="tabpanel" aria-labelledby="bookcity-tab">
                        <div class="form-group">
                            <label class="control-label">Choose a book from the Bookcity database</label>
                            <input id="book-bc" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input id="book-search-bc" type="button" value="Search" class="btn btn-primary" />
                        </div>
                    </div>

                    <div class="tab-pane fade" id="manually" role="tabpanel" aria-labelledby="manually-tab">
                        <div class="form-group">
                            <label>Title</label>
                            <input class="form-control" type="text" id="book-title-man" placeholder="Enter book's title" required />
                        </div>
                        <div class="form-group">
                            <label>Author</label>
                            <input class="form-control" type="text" id="book-author-man" placeholder="Enter book's author" required />
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" id="book-desc-man" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Rate</label>
                            <input class="form-control" type="number" id="book-rate-man" min="0" max="5" value="0" required />
                        </div>
                        <div class="form-group pt-3 pb-5">
                            <button id="book-man-submit" class="btn btn-success btn-block">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="container-fluid" id="book-container">
                    <div class="wait-pre-con"></div>
                    <div class="container" id="book-list"></div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#book-search-auto").click(function () {
                var value = $("#book-auto").val();
                if (value.trim() != "") {
                    $.ajax({
                        method: "POST",
                        url: "/api/ebs/books/byvalue",
                        data: {
                            value: value.trim()
                        },
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        beforeSend: function () {
                            $("#book-list").empty();
                            $('.wait-pre-con').show();
                            toastr.info("Your book is searching, please wait", "Got it!");
                        }
                    })
                    .done(function (result) {
                        $('.wait-pre-con').hide();
                        if (result.length > 0) {
                            toastr.success("A lot of books", "Yeah, we have it!");
                            for (let val of result) {
                                $("#book-list").append(`<div class="row bg-light mb-2 pl-2 pt-2 pr-2 pb-2">
                                                            <div class="col-md-4"><img src="/img/no-book.png" width="100%"></div>
                                                            <div class="col-md-8"><p class="border-bottom"><b>${val.title}</b></p>
                                                            <button data-id="${val.id}" class="book-auto-details btn btn-primary pull-right">Добавить</button>
                                                            <p>${val.author}</p></div>
                                                        </div>`);
                            }
                        } else {
                            toastr.error("There is no one book what you are looking for", "Oops...");
                        }
                    });
                }
            });

            $("#book-search-bc").click(function () {
                var value = $("#book-bc").val();
                if (value.trim() != "") {
                    var url = `https://murmuring-savannah-25756.herokuapp.com/ebs/bookcity/${value.trim()}`
                    $.ajax({
                        method: "GET",
                        url: url,
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        beforeSend: function () {
                            $("#book-list").empty();
                            $('.wait-pre-con').show();
                            toastr.info("Your book is searching, please wait", "Got it!");
                        }
                    })
                    .done(function (result) {
                        $('.wait-pre-con').hide();
                        if (result.length > 0) {
                            toastr.success("A lot of books", "Yeah, we have it!");
                            for (let val of result) {
                                $("#book-list").append(`<div class="row bg-light mb-2 pl-2 pt-2 pr-2 pb-2">
                                                            <div class="col-md-4"><img src="${val.image}" width="100%"></div>
                                                            <div class="col-md-8"><p class="border-bottom"><b>${val.title}</b></p>
                                                            <button data-id="${val.href}" class="book-bc-details btn btn-primary pull-right">Добавить</button>
                                                            <p>${val.author}</p></div>
                                                        </div>`);
                            }
                        } else {
                            toastr.error("There is no one book what you are looking for", "Oops...");
                        }
                    });
                }
            });

            $('#book-list').on('click', '.book-auto-details', function () {
                $.ajax({
                    method: "POST",
                    url: "/api/ebs/books/auto/add",
                    data: { id: $(this).attr("data-id") },
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    beforeSend: function () {
                        toastr.info("We are adding your book", "Please wait");
                    }
                })
                .done(function (result) {
                    if (result == 1) {
                        toastr.success("Book was added to your library", "Successful!");
                    } else {
                        toastr.error("There is some problems", "Oops...");
                    }
                });
            });

            $('#book-list').on('click', '.book-bc-details', function () {
                $.ajax({
                    method: "POST",
                    url: "/api/ebs/books/bc/add",
                    data: { href: $(this).attr("data-id") },
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    beforeSend: function () {
                        toastr.info("We are adding your book", "Please wait");
                    }
                })
                .done(function (result) {
                    if (result == 1) {
                        toastr.success("Book was added to your library", "Successful!");
                    } else {
                        toastr.error("There is some problems", "Oops...");
                    }
                });
            });

            $("#book-man-submit").click(function () {
                var title = $("#book-title-man").val();
                if(!formField(title, "Title"))
                    return false;

                var author = $("#book-author-man").val();
                if(!formField(author, "Author"))
                    return false;

                var desc = $("#book-desc-man").val();
                if(!formField(desc, "Description"))
                    return false;

                var rate = $("#book-rate-man").val();
                
                $.ajax({
                    method: "GET",
                    url: "/api/ebs/books/manual/add",
                    data: {
                        title: title,
                        author: author,
                        desc: desc,
                        rate: rate
                    },
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    beforeSend: function () {
                        toastr.info("We are adding your book", "Please wait");
                    }
                })
                .done(function (result) {
                    if (result == 1) {
                        toastr.success("Book was added to your library", "Successful!");
                    } else {
                        toastr.error("There is some problems", "Oops...");
                    }
                });
            });

            function formField(field, fieldName) {
                if (field != null && field.trim() != "") {
                    return true;
                }
                toastr.error(`${fieldName} is required`, "Not all fields are filled")
                return false;
            }
        });
    </script>
}