@model List<UserInterface.ViewModels.Entities.BookViewModel>
@{
    ViewData["Title"] = "Books";
}

<section style="padding-top:50px">
    <div class="container pt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item active" aria-current="page">Books</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="ebs-search-value" placeholder="Search book" value="@ViewBag.Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" id="ebs-search-submit" type="button">Find it</button>
                    </div>
                </div>
                <div class="row" id="ebs-target-list">
                    @await Html.PartialAsync("../Shared/PartialViews/_BookComponent.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/app/bookController.js"></script>
}
