
@{
    ViewData["Title"] = "Index";
}
<section style="padding-top:50px">
    <div class="container pt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item active" aria-current="page">Admin</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("../Shared/PartialViews/AdminViews/_AdminMenuComponent.cshtml")
            </div>
            <div class="col-md-9">
                <div class="bg-dark text-white py-3 px-3 mb-3" style="border-radius:5px;height:450px;overflow-y:scroll">
                    <button id="excel-button" class="btn btn-outline-primary pull-right mb-3">Download</button>
                    <h3 id="current-table"></h3>
                    <table class="table table-dark">
                        <thead>
                            <tr id="admin-thead-target"></tr>
                        </thead>
                        <tbody id="admin-tbody-target"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/js/app/adminController.js"></script>
}