
@{
    ViewData["Title"] = "Index";
}
<section style="padding-top:50px">
    <div class="container pt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item active" aria-current="page">Admin</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("../Shared/PartialViews/AdminViews/_AdminMenuComponent.cshtml")
            </div>
            <div class="col-md-9">
                <div class="bg-dark text-white pt-2 pb-2 pr-2 pl-2 mb-3">
                    <h4 class="pl-2">User List</h4>
                    @await Html.PartialAsync("../Shared/PartialViews/AdminViews/_AdminUserListComponent.cshtml", ViewData["UserList"])
                </div>
                <div class="bg-dark text-white pt-2 pb-2 pr-2 pl-2 mb-3">
                    <h4 class="pl-2">Book List</h4>
                    @await Html.PartialAsync("../Shared/PartialViews/AdminViews/_AdminBookListComponent.cshtml", ViewData["BookList"])
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/js/app/adminController.js"></script>
    <script>
        $(document).ready(function () {

            var controller = new AdminController();
            $("#bs1").click(function () { controller.getBooksCountByUser(); });
            $("#us1").click(function () { controller.getUserListAsc(); });

        });
    </script>
}