
@{
    ViewData["Title"] = "Index";
}

<style>
    .ebs-menu{display:none} .card{margin:0 auto;}
    .ebs-left-menu {background:#3C3A52;box-shadow:0 0 10px rgba(0,0,0,0.5);border-radius: 5px;padding: 20px; height:400px; overflow-y:scroll}
</style>

<section style="padding-top:50px">
    <div class="container pt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item active" aria-current="page">Admin</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("../Shared/PartialViews/AdminViews/_AdminMenuComponent.cshtml")
            </div>
            <div class="col-md-9">
                <div class="bg-dark text-white pt-2 pb-2 pr-2 pl-2 mb-3">
                    <h4 class="pl-2">User List</h4>
                    @await Html.PartialAsync("../Shared/PartialViews/AdminViews/_AdminUserListComponent.cshtml", ViewData["UserList"])
                </div>
                <div class="bg-dark text-white pt-2 pb-2 pr-2 pl-2 mb-3">
                    <h4 class="pl-2">Book List</h4>
                    @await Html.PartialAsync("../Shared/PartialViews/AdminViews/_AdminBookListComponent.cshtml", ViewData["BookList"])
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {

            var token = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };
            var data = { word: "World!" };

            $("#btn-get").click(function () {
                $.get("https://localhost:44378/api/ebs/test/", function (data, status) {
                    toastr.success(data, status);
                });
            });

            $("#btn-post").click(function () {

                $.ajax({
                    url: "@Url.Action("TestPost", "EbsApi")",
                    type: "post",
                    contentType: "application/json",
                    data: data,
                    success: function (data) {
                        toastr.success(data, "Success");
                    },
                    error: function (data) {
                        toastr.error(data, "Error");
                    }
                });

                //$.post("https://localhost:44378/api/ebs/testPost/",
                //{
                //    word: "World!",
                //    __RequestVerificationToken: token
                //},
                //function (data, status) {
                //    toastr.success(data, status);
                //});
            });

        });
    </script>
}