* 
{
    font-family: 'Vollkorn', serif;
}
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: url('../img/loader.gif') center no-repeat #F1F2F3;
}
.progress-container {
    width: 100%;
    height: 6px;
    background: #ccc;
    position: fixed;
    z-index: 9999;
}
.progress-bar {
    height: 6px;
    background: #689cc5;
    width: 0%;
}
.ebs-btn {
    font-family: 'Lato', sans-serif;
    width: auto;
    height: auto;
    padding: 15px 30px 15px 30px;
    background: #3C3A52;
    border-radius: 5px;
    color: white;
    text-transform: none;
    text-decoration: none;
    outline: none;
    transition: all ease .3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.ebs-btn:hover {
    color:white;
    background:#6C63FF;
    text-transform:none;
    text-decoration:none;
    outline:none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.ebs-title {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    transition: all ease .5s;
    color: #343A40;
    z-index: 8000;
}
.ebs-navbar {
    width: 100%;
    padding: 15px;
    padding-left: 40px;
    position: fixed;
    background: none;
    color: white;
    transition:all ease .5s;
    z-index:8000;
}
.ebs-menu {
    font-size: 40px;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    right: 40px;
    top: 12px;
    transition: all ease .5s;
    color: #343A40;
    z-index: 8000;
}
.ebs-menu:focus {
    outline: none;
}
.ebs-menu:hover .fa { transition: all ease .3s; }
.ebs-menu:hover .fa{ color: #6C63FF; }
.ebs-menu-body {
    width: 100%;
    height: 100vh;
    background: #3C3A52;
    position: fixed;
    right: -100%;
    color: #191d3a;
    z-index: 9000;
    padding-top: 100px;
    padding-left: 100px;
    font-size: 50px;
}
.ebs-menu-body a{
    color:white;
    transition: all ease .3s;
    padding:0;
    margin:0;
    width:auto;
}
.ebs-menu-body a:hover {
    padding-left:20px;
    color: #6C63FF;
    text-decoration:none;
    text-transform:none;
}
.ebs-dot {
    color: #689cc5;
}
.ebs-footer {
    background: #3b4368;
    padding:20px;
}
.ebs-menu-close {
    background: none;
    color: white;
    font-size: 50px;
    border: none;
    position: absolute;
    top:20px;
    right: 30px;
    outline: none;
    transition:all ease .3s;
}
.ebs-menu-close:hover{
    color:#6C63FF;
}
.ebs-menu-close:focus{
    outline:none;
}
.ebs-img{
    width:60px;
    height:60px;
    background:red;
    border-radius:50%;
    overflow:hidden;
}
section {
    width: 100%;
    min-height: 100vh;
    height: auto;
}
#ebs-home-main {
    background-image: url("../img/index-bg-1.png");
    background-size: cover;
    background-position:100% 100%;
}
#ebs-home-messages {
    background-image: url("../img/index-bg-2.png");
    background-size: cover;
}
#ebs-home-services {
    background-image: url("../img/index-bg-3.png");
    background-size: cover;
}
#ebs-home-last {
    background-image: url("../img/index-bg-4.png");
    background-size: cover;
}
#ebs-home-easy {
    background-image: url("../img/index-bg-5.png");
    background-size: cover;
    background-position:center center;
}
.ebs-counter,
.ebs-counter-desc {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.ebs-counter{
    font-size:60px;
}
@media only screen and (max-width: 600px) {
    .ebs-menu-body {
        padding-top: 100px;
        padding-left: 50px;
        font-size: 30px;
    }
    .ebs-btn{
        display:block;
        margin-top:10px;
        width:100%;
    }
}