@model IEnumerable<BusinessLogic.Dto.UserDto>

@{
    ViewData["Title"] = "Index";
}

    <style>
        .top-book-card {
            width: 30%;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            padding:10px;
        }
    </style>

<section style="padding-top:60px;">
    <div class="container-fluid">
        <hr />
        <div class="row pt-3">
            <div class="col-md-3">
                @await Html.PartialAsync("../Shared/PartialViews/_MenuComponent.cshtml", ViewData["Id"])
            </div>
            <div class="col-md-9">
                <p>Your current status: <span id="user-status"></span></p>
                <p>Until the next status you have left:</p>
                <div class="row" id="user-status-todolist"></div>
                <div class="row" id="ebs-top-books"></div>
                <div class="row" id="ebs-top-users"></div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/js/app/mainController.js"></script>
}