@model IEnumerable<BusinessLogic.Dto.UserDto>

@{
    ViewData["Title"] = "Index";
}
<style>
    .ebs-menu{display:none} .card{margin:0 auto;}
    .ebs-left-menu {background:#3C3A52;box-shadow:0 0 10px rgba(0,0,0,0.5);border-radius: 5px;padding: 20px;}
    .ebs-left-menu a{color:white;font-size:20px;padding-bottom:10px;text-decoration:none;transition:all ease .3s;}
    .ebs-left-menu a:hover{color:#6C63FF;text-decoration:none;padding-left:10px;}
    .ebs-left-menu p {border-color:#6C63FF !important;}
</style>
<section style="padding-top:60px;">
    <div class="container-fluid">
        <hr />
        <div class="row pt-3">
            <div class="col-md-3">
                @await Html.PartialAsync("../Shared/PartialViews/_MenuComponent.cshtml", ViewData["Id"])
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img src="~/img/index-1.svg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Create your own ELibrary</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary pull-right">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img src="~/img/index-3.svg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Looking for a book?</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary pull-right">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img src="~/img/index-1.svg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Easy to track book</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary pull-right">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        var trCount = @ViewData["TrCount"];
        if (trCount > 0) {
            $("#signalr-requests").html(trCount);
        }
        const hubConnection = new signalR.HubConnectionBuilder().withUrl("/requests").build();
 
        hubConnection.on("Send", function (data) {
            let elem = document.createElement("p");
            elem.appendChild(document.createTextNode(data));
            let firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);
 
        });
 
        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;
            hubConnection.invoke("Send", message);
        });
 
        hubConnection.start();
    </script>
}