@model List<UserInterface.ViewModels.Entities.UserViewModel>
@{
    ViewData["Title"] = "User List";
}

<section style="padding-top:50px">
    <div class="container pt-5">
        <a class="btn btn-primary mb-3" asp-controller="User" asp-action="Index">Back</a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User">EBookSharing</a></li>
                <li class="breadcrumb-item active" aria-current="page">Users</li>
            </ol>
        </nav>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="ebs-search-value" placeholder="Search user" value="@ViewBag.Search">
            <div class="input-group-append">
                <button class="btn btn-outline-success" id="ebs-search-submit" type="button">Find it</button>
            </div>
        </div>
        <div class="row" id="users">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                @await Html.PartialAsync("../Shared/PartialViews/_UserComponent.cshtml", Model)
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/app/userController.js"></script>
}