@model UserInterface.ViewModels.SignupViewModel

@{
    ViewData["Title"] = "Signup";
}

<h1>Signup</h1>
<a asp-action="Login" asp-controller="User">Войти</a>

<form asp-action="Signup" asp-controller="User" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Email">Введите Email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </div>
</form>