<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ebs</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Vollkorn|Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="se-pre-con"></div>
    <div class="progress-container">
        <div class="progress-bar" id="windowBar"></div>
    </div>
    <header>
        <div class="ebs-navbar">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="ebs-title mr-5" asp-controller="User" asp-action="Index" style="text-decoration:none;text-transform:none;float:left;">
                    ebs<span class="ebs-dot">.</span>
                </a>
                <form class="ebs-search ml-5" method="GET" asp-controller="Book" asp-action="Index">
                    <input type="text" placeholder="Search book" name="search" />
                    <input type="submit" value="Find It" />
                </form>
            }
            else
            {
                <a class="ebs-title" asp-controller="Home" asp-action="Index" style="text-decoration:none;text-transform:none;">
                    ebs<span class="ebs-dot">.</span>
                </a>
            }
            <button class="ebs-menu">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </header>
    <nav class="ebs-menu-body">
        @if (!User.Identity.IsAuthenticated)
        {
            <p style="margin:0;padding:0;" class="ebs-menu-target"><a asp-controller="Home" asp-action="Index">Home</a></p>
            <p style="margin:0;padding:0;" class="ebs-menu-target"><a asp-controller="Home" asp-action="About">About</a></p>
            <p style="margin:0;padding:0;" class="ebs-menu-target"><a asp-controller="Home" asp-action="Contacts">Contacts</a></p>
            <p style="margin:0;padding:0;" class="ebs-menu-target"><a asp-controller="Home" asp-action="Privacy">Privacy</a></p>
            <p style="margin:0;padding:0;" class="ebs-menu-target"><a asp-controller="User" asp-action="Login">Login</a> | <a asp-controller="User" asp-action="Signup">Sign Up</a></p>
        }
        else
        {
            <p style="margin:0;padding:0;" class="ebs-menu-target"><a asp-controller="User" asp-action="Details" asp-route-id="#">My account</a></p>
            <p style="margin:0;padding:0;" class="ebs-menu-target"><a asp-controller="Book" asp-action="Details" asp-route-id="#">My ELibrary</a></p>
            <p style="margin:0;padding:0;" class="ebs-menu-target"><a asp-controller="Book" asp-action="Create" asp-route-id="#">Add new book</a></p>
            <p style="margin:0;padding:0;" class="ebs-menu-target"><a asp-controller="User" asp-action="Logout">Logout</a></p>
        }
        <button class="ebs-menu-target ebs-menu-close">
            <i class="fa fa-arrow-circle-o-right"></i>
        </button>
    </nav>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top ebs-footer">
        <div class="container-fluid text-light">
            <div class="row">
                <div class="col-md-12">
                    <p class="ebs-title text-light">
                        ebs<span class="ebs-dot">.</span>
                    </p>
                    <span class="mr-3">&copy; 2020 </span>
                    <a class="mr-3" asp-controller="Home" asp-action="About">About us</a>
                    <a class="mr-3" asp-controller="Home" asp-action="Contacts">Our contacts</a>
                    <a class="mr-3" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    <a class="text-danger" asp-controller="User" asp-action="Logout">Logout</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/modernizr/modernizr.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
