@{
    ViewData["Title"] = "Home Page";
}
<section id="ebs-home-main">
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-md-7 pt-5">
                <h3 class="display-3">We make the world a better place</h3>
                <h5 class="text-secondary">Sign up or Sign in and become a member today to get exclusive benefits and other freebies.</h5>
                <div class="mt-3 pt-3">
                    <a href="#" class="ebs-btn text-uppercase mr-2">Sign up now</a>
                    <a href="#" class="ebs-btn text-uppercase" style="background:#6C63FF;">Download now</a>
                </div>
            </div>
            <div class="col-md-5 pt-5">
                <img src="~/img/index-1.svg" width="100%" />
            </div>
        </div>
    </div>
</section>
<section id="ebs-home-messages">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-5 mb-4">
                <img src="~/img/index-2.svg" width="100%" />
            </div>
            <div class="col-md-7 mb-5">
                <h4 class="display-4 text-white">Why choose our app for your business?</h4>
                <h5 class="text-light">Exponent is the app showcase WordPress theme that will create an outstanding and attention-grabbing online presence that will help you win over even more users.</h5>
                <div class="pt-4">
                    <a href="#" class="ebs-btn text-uppercase">Sign up now</a>
                </div>
            </div>
            <div class="col-md-3 text-center pt-5 mt-5">
                <h1 class="ebs-counter">127</h1>
                <p class="ebs-counter-desc">Awards Received</p>
            </div>
            <div class="col-md-3 text-center pt-5 mt-5">
                <h1 class="ebs-counter">1505</h1>
                <p class="ebs-counter-desc">Cups of Coffee</p>
            </div>
            <div class="col-md-3 text-center pt-5 mt-5">
                <h1 class="ebs-counter">109</h1>
                <p class="ebs-counter-desc">Projects Completed</p>
            </div>
            <div class="col-md-3 text-center pt-5 mt-5 mb-5">
                <h1 class="ebs-counter">102</h1>
                <p class="ebs-counter-desc">Happy Clients</p>
            </div>
        </div>
    </div>
</section>
<section id="ebs-home-services">
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col-md-12 text-center mb-5">
                <h3 class="display-3"><b>Our Hosting Packages</b></h3>
                <p style="color:#6C63FF;">Sstartup to enterprice, we have it all!</p>
            </div>
            <div class="col-md-4 mb-3">
                <h4><b><i class="fa fa-apple mr-2" style="color:#6C63FF"></i> Powerful CPanel</b></h4>
                <p class="text-secondary">A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h4><b><i class="fa fa-bank mr-2" style="color:#6C63FF"></i> Free SSL Certificate</b></h4>
                <p class="text-secondary">A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website.</p>
            </div>
            <div class="col-md-4 mb-5">
                <h4><b><i class="fa fa-book mr-2" style="color:#6C63FF"></i> Free Weekly Backup</b></h4>
                <p class="text-secondary">A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h4><b><i class="fa fa-cloud mr-2" style="color:#6C63FF"></i> SSD Enterprise</b></h4>
                <p class="text-secondary">A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h4><b><i class="fa fa-cogs mr-2" style="color:#6C63FF"></i> 99.99% Uptime Gurantee</b></h4>
                <p class="text-secondary">A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website.</p>
            </div>
            <div class="col-md-4 mb-5">
                <h4><b><i class="fa fa-comments-o mr-2" style="color:#6C63FF"></i> 24/7 Dedicated Support</b></h4>
                <p class="text-secondary">A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website.</p>
            </div>
        </div>
    </div>
</section>
<section id="ebs-home-last">
    <div class="container pt-5">
        <div class="row pt-5 mt-5">
            <div class="col-md-5 pt-5">
                <img src="~/img/index-3.svg" width="100%" />
            </div>
            <div class="col-md-7 pt-5">
                <h4 class="display-4 text-white">We have your back</h4>
                <p class="text-light">The most basic is web page and small-scale file hosting, where files can be uploaded via File Transfer Protocol (FTP) or a Web interface. The files are usually delivered to the Web “as is” or with minimal processing. Many Internet service providers (ISPs) offer this service free to subscribers.</p>
                <div class="pt-3">
                    <a href="#" class="ebs-btn text-uppercase">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ebs-home-easy">
    <div class="container">
        <div class="row">
            <div class="col-md-7 pt-5">
                <h4 class="display-4 text-white">Very Easy To Get Started</h4>
                <p class="text-light">The most basic is web page and small-scale file hosting, where files can be uploaded via File Transfer Protocol (FTP) or a Web interface. The files are usually delivered to the Web “as is” or with minimal processing.</p>
                <p class="text-light"><i class="fa fa-check mr-2" style="color:#6C63FF"></i> Free Analytic Tool</p>
                <p class="text-light"><i class="fa fa-check mr-2" style="color:#6C63FF"></i> Group Management</p>
                <p class="text-light"><i class="fa fa-check mr-2" style="color:#6C63FF"></i> SFTP Supported</p>
                <p class="text-light"><i class="fa fa-check mr-2" style="color:#6C63FF"></i> 1-Click CMS Installation</p>
                <div class="pt-3">
                    <a href="#" class="ebs-btn text-uppercase">Learn More</a>
                </div>
            </div>
            <div class="col-md-5 pt-5">
                <img src="~/img/index-4.svg" width="100%" />
            </div>
        </div>
    </div>
</section>
<section id="ebs-home-signup" style="min-height:auto !important; padding-bottom:50px;">
    <div class="container mt-5 pt-5 pb-5" style="background:#3D3C49">
        <div class="row">
            <div class="col-md-12 text-center text-light"><h4 class="display-4">Subscribe to newsletter <i class="fa fa-paper-plane"></i></h4></div>
            <div class="col-md-3"></div>
            <div class="col-md-6 text-light text-center">
                <form action="/" method="post">
                    <hr />
                    <p>Get the latest business resources on the market delivered to your inbox.</p>
                    <input type="email" name="email" placeholder="Enter Your Email Address" class="form-control" />
                    <input type="submit" value="Subscribe" class="btn ebs-btn mt-4" style="width:100%;background:#6C63FF;" />
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script>
        $(".ebs-counter").counterUp();
    </script>
}